# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/database-migration/01-Code/database-migration/.idea
/database-migration/01-Code/database-migration/*.iml
/database-migration/01-Code/database-migration/iods/.mvn
/database-migration/01-Code/database-migration/iods/src/main/resources/db/diffChangeLog
/database-migration/01-Code/database-migration/iods/src/main/resources/db/output
/database-migration/01-Code/database-migration/iods/src/main/resources/db/outputChangeLog
/spring-boot-study/01-Code/spring-boot-study/.idea
/spring-boot-study/01-Code/spring-boot-study/*.iml
/spring-boot-study/01-Code/spring-boot-study/freemarker/.mvn
/spring-boot-study/01-Code/spring-boot-study/freemarker/target
/spring-boot-study/01-Code/spring-boot-study/freemarker/*.iml
/spring-boot-study/01-Code/spring-boot-study/international
/spring-boot-study/01-Code/spring-boot-study/spring-web/.mvn
/spring-boot-study/01-Code/spring-boot-study/spring-web/target
/spring-boot-study/01-Code/spring-boot-study/thymeleaf/.mvn
/spring-boot-study/01-Code/spring-boot-study/thymeleaf/target
/spring-boot-study/01-Code/spring-boot-study/thymeleaf/*.iml
/spring-boot-study/01-Code/spring-boot-study/web-flux/.mvn
/spring-boot-study/01-Code/spring-boot-study/web-flux/target
